.timeleine-heading-content {
  text-align: center;
}
/*timeline 1*/
.wrapper-1 {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper-1 .center-line-1 {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #f2f2f2;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper-1 .timeline-1-row {
  display: flex;
}
.wrapper-1 .timeline-1-row-1 {
  justify-content: flex-start;
}
.wrapper-1 .timeline-1-row-2 {
  justify-content: flex-end;
}
.wrapper-1 .timeline-1-row section {
  background: #f2f2f2;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}
.wrapper-1 .timeline-1-row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #f2f2f2;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.timeline-1-row-1 section::before {
  right: -7px;
}
.timeline-1-row-2 section::before {
  left: -7px;
}
.timeline-1-row section .icon,
.center-line-1 .scroll-icon-1 {
  position: absolute;
  background: #f2f2f2;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #3ea0e2;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.center-line-1 .scroll-icon-1 {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.timeline-1-row-1 section .icon {
  top: 15px;
  right: -55px;
}
.timeline-1-row-2 section .icon {
  top: 15px;
  left: -55px;
}
.timeline-1-row section p {
  margin: 10px 0 17px 0;
}
.timeline-1-row section .timeline-1-bottom a {
  text-decoration: none;
  background: #3ea0e2;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  font-weight: 400;
  transition: all 0.3s ease;
}
.timeline-1-row section .timeline-1-bottom a:hover {
  transform: scale(0.97);
}
@media (max-width: 790px) {
  .wrapper-1 .center-line-1 {
    left: 40px;
  }
  .wrapper-1 .timeline-1-row {
    margin: 30px 0 3px 60px;
  }
  .wrapper-1 .timeline-1-row section {
    width: 100%;
  }
  .timeline-1-row-1 section::before {
    left: -7px;
  }
  .timeline-1-row-1 section .icon {
    left: -55px;
  }
}
@media (max-width: 440px) {
  .wrapper-1 .center-line-1,
  .timeline-1-row section::before,
  .timeline-1-row section .icon {
    display: none;
  }
  .wrapper-1 .timeline-1-row {
    margin: 10px 0;
  }
}
/*timeline 1*/
/*timeline-2*/
.timeline2 {
  position: relative;
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem 0;
  font-family: "Open Sans", sans-serif;
}
.timeline-2-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .timeline-2-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .timeline-2-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .timeline-2-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .timeline-2-container {
    max-width: 1140px;
  }
}
@media (min-width: 576px) {
  .timeline-2-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .timeline-2-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .timeline-2-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .timeline-2-container {
    max-width: 1140px;
  }
}
.timeline-2-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.timeline-2-card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.timeline-2-card-title {
  margin-bottom: 0.75rem;
}
.timeline-2-card-text:last-child {
  margin-bottom: 0;
}
.timeline-2-card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.timeline-2-card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.border-0 {
  border: 0 !important;
}
.rounded-0 {
  border-radius: 0 !important;
}
.timeline-2-d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.timeline-2-flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.py-2 {
  padding-top: 0.5rem !important;
}
.py-2 {
  padding-bottom: 0.5rem !important;
}
.text-white {
  color: #fff !important;
}
/*! Custom CSS */
.timeline-2-bg-base {
  background-color: #020312 !important;
}
.timeline-2-bg-main {
  background-color: #f26c4f !important;
}
.timeline-2 {
  color: #f26c4f;
}
.timeline-2,
.timeline-2-item {
  position: relative;
  box-sizing: border-box;
}
.timeline-2:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  width: 3px;
  margin-left: -1.5px;
  background-color: currentcolor;
}
.timeline-2-item {
  padding: 10px;
  width: 50%;
}
.timeline-2-item:before {
  content: " ";
  position: absolute;
  top: 20px;
  right: -10px;
  border-width: 10px;
  border-color: transparent transparent transparent currentcolor;
  border-style: solid;
}
.timeline-2-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-2-item:nth-child(even):before {
  right: auto;
  left: -10px;
  border-color: transparent currentcolor transparent transparent;
}
@media (max-width: 768px) {
  .timeline-2:before {
    left: 0;
  }
  .timeline-2-item {
    width: 100%;
  }
  .timeline-2-item:before {
    right: auto;
    left: -10px;
    border-color: transparent currentcolor transparent transparent;
  }
}
/*! RTL */
[dir="rtl"] .timeline-2:before {
  left: auto;
  right: 50%;
  margin-left: 0;
  margin-right: -1.5px;
}
[dir="rtl"] .timeline-2-item:before {
  right: auto;
  left: -10px;
  border-color: transparent currentcolor transparent transparent;
}
[dir="rtl"] .timeline-2-item:nth-child(even):before {
  right: -10px;
  left: auto;
  border-color: transparent transparent transparent currentcolor;
}
@media (max-width: 768px) {
  [dir="rtl"] .timeline-2:before {
    right: 0;
  }
  [dir="rtl"] .timeline-2-item:before {
    right: -10px;
    left: auto;
    border-color: transparent transparent transparent currentcolor;
  }
}
.timeline-2-card-title {
  color: #fff;
}
/*timeline-2*/
/*timeline-3*/
.timeline-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.timeline-3-title > h2,
.timeline-3-title > h1 {
  margin: 0;
}
.timeline-3-title > h2 {
  opacity: 50%;
}
.timeline-3-events {
  position: relative;
  display: grid;
  grid-template-columns: 16px 1fr;
  row-gap: 16px;
  padding-top: 32px;
  width: fit-content;
}
.timeline-3-event {
  display: grid;
  grid-template-columns: 16px 1fr;
  column-gap: 16px;
  grid-column: 1 / 3;
}
.timeline-3-date > h2,
.timeline-3-description > p {
  margin: 0;
}
.timeline-3-knob {
  grid-column: 1 / 2;
  align-self: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  z-index: 1;
  background: #4c4c4c;
  border-radius: 50%;
}
.timeline-3-date,
.timeline-3-description {
  grid-column: 2 / 3;
  align-self: center;
}
.timeline-3-description span {
  opacity: 0.5;
}
.timeline-3-line {
  position: absolute;
  grid-column: 1 / 2;
  justify-self: center;
  height: 100%;
  width: 4px;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
/*timeline-3*/
/*timeline-4*/
.timeline4 {
  position: relative;
  max-width: 760px;
  margin: 0 auto;
  padding: 2rem 0;
  font-family: "Open Sans", sans-serif;
}
/* Timeline4 Header */
.timeline4__header {
  text-align: center;
  padding-bottom: 2rem;
}
/* Timeline4 Content */
.timeline4__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .timeline4__content {
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: flex-start;
  }
}
/* Timeline4 center line */
.timeline4__content:after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: "";
  width: 4px;
  height: 100%;
  background: #7e7e7e;
  z-index: -1;
}
@media only screen and (max-width: 600px) {
  .timeline4__content:after {
    left: 3rem;
    transform: unset;
  }
}
/* Timeline4 Edge Steps */
.timeline4__content-edge {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 65px;
  width: 65px;
  overflow: hidden;
}
.timeline4__content-edge--first {
  background: #7e7e7e;
  color: white;
  margin-bottom: 1.5rem;
}
.timeline4__content-edge--last {
  background: white;
  border: solid 4px #7e7e7e;
  color: #7e7e7e;
}
.timeline4__content-edge__title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
/* Timeline4 Steps */
.timeline4__content-steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  max-width: 760px;
}
/* Timeline4 Single Step */
.timeline4__content-step {
  position: relative;
  width: 50%;
  padding-right: 2rem;
  text-align: right;
  box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
  .timeline4__content-step {
    width: auto;
    padding: 0 0 0 4rem;
    text-align: left;
  }
}
@media only screen and (min-width: 600px) {
  .timeline4__content-step:nth-child(even) {
    align-self: flex-end;
    padding-right: unset;
    padding-left: 2rem;
    text-align: left;
  }
}
/* Timeline4 Single Step - Title */
.timeline4__content-step__title {
  width: 100%;
  padding-bottom: 0.5rem;
  position: relative;
}
/* Timeline4 Single Step - Bottom Line */
.timeline4__content-step__title::after {
  display: block;
  content: "";
  width: calc(100% + 2rem);
  height: 3px;
  background: #7e7e7e;
  position: absolute;
  bottom: -2px;
  right: -2rem;
}
@media only screen and (max-width: 600px) {
  .timeline4__content-step__title::after {
    right: unset;
    left: -2rem;
  }
}
.timeline4__content-step:nth-child(even) .timeline4__content-step__title:after {
  right: unset;
  left: -2rem;
}
@media only screen and (max-width: 600px) {
  .timeline4__content-step__title:before {
    right: unset;
    left: -48px;
  }
}
.timeline4__content-step:nth-child(even) .timeline4__content-step__title:before {
  right: unset;
  left: -48px;
}
/* Timeline4 Single Step - Description */
.timeline4__content-step__description,
.timeline4__content-step p {
  margin: 0.5rem 0 0 0;
  text-align: left;
}
/*timeline-4*/
/*timeline-5*/
.timeline-5-container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}
.timelines-5 h2 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 32px;
}
.d-flex-2 {
  display: flex;
  align-items: center;
}
.all-timelines-5 {
  position: relative;
}
.timelines-5 h2 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-bottom: 40px;
}
.all-timelines-5::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 2px;
  background: #efa22f;
  top: 20px;
}
.single-timeline-5 {
  margin-bottom: 22px;
}
.timeline-5-blank {
  width: 50%;
}
.timeline-5-text {
  width: 50%;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.timeline-5-text h3 {
  font-weight: 900;
  display: inline-block;
  /* font-size: 1rem;
    */
}
.timeline-5-text h4 {
  font-weight: 800;
  display: inline-block;
}
.timeline-5-text span {
  display: block;
  width: 100%;
}
.single-timeline-5:nth-child(even) .timeline-5-text span {
  text-align: right;
}
.t-square-5 {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -6px;
  background: #efa22f;
}
.single-timeline-5:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.single-timeline-5:nth-child(even) .t-square-5 {
  right: -6px;
  left: unset;
}
.single-timeline-5:nth-child(even) .timeline-5-text {
  padding-left: 0;
  padding-right: 30px;
  text-align: right;
}

@media all and (max-width: 768px) {
  .all-timelines-5::before {
    right: unset;
    top: 0;
  }
  .single-timeline-5:nth-child(2n) .timeline-5-text {
    padding-left: 30px;
    padding-right: 0;
    text-align: left;
  }
  .single-timeline-5:nth-child(2n) .t-square-5 {
    left: -6px;
    right: unset;
  }
  .timeline-5-blank {
    display: none;
  }
  .timeline-5-text {
    width: 100%;
  }
  .single-timeline-5:nth-child(even) .timeline-5-text span {
    text-align: left !important;
  }
}

@media all and (max-width: 360px) {
  .all-timelines-5::before {
    top: 32px;
  }
}
/*timeline-5*/
/*timeline-6*/
:root {
  --t6color1: #222;
  --t6color2: #eee;
  --borderRadiusBig: 10px;
  --borderRadiusSmall: 3px;
}
.timeline-6 {
  display: flex;
  flex-direction: column;
}
.timeline-6-cards {
  display: grid;
  grid-template-columns: minmax(300px, 650px);
  justify-content: center;
}
.timeline-6-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timeline-6-card:not(.timeline-6-card:last-of-type) {
  margin-bottom: 50px;
  position: relative;
}
.timeline-6-card:not(.timeline-6-card:last-of-type)::before {
  background-color: var(--t6color2);
  width: 2px;
  height: 65px;
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
.timeline-6-card-title {
  background-color: #03a9f4;
  color: var(--t6color2);
  width: 100%;
  padding: 10px 0;
  margin-bottom: 4px;
  font-weight: 500;
  border-radius: var(--borderRadiusBig);
  border-bottom-left-radius: var(--borderRadiusSmall);
  border-bottom-right-radius: var(--borderRadiusSmall);
  z-index: 1;
}
.timeline-6-card-desc {
  background-color: var(--t6color2);
  color: var(--t6color1);
  width: 100%;
  padding: 15px;
  border-radius: var(--borderRadiusSmall);
  box-sizing: border-box;
  margin: 0;
}
/*timeline-6*/
/*timeline-7*/
.timer-section-7 {
  min-height: 100vh;
}
.timer-section-7 .container-7 {
  padding-left: 15px;
  padding-right: 15px;
}
.timer-section-7 .timer-container-7 {
  list-style: none;
}
.timer-section-7 .timer-7 {
  list-style: none;
  position: relative;
  max-width: 750px;
  margin: auto;
}
.timer-section-7 .timer::before {
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #f2f2f2;
  left: 50%;
  transform: translateX(-50%);
}
.timer-section-7 .timer-7 .step-7 {
  width: 50%;
  padding: 20px 15px;
  position: relative;
  background-color: #f2f2f2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.04);
}
.timer-section-7 .timer-7 .step-7:not(:first-child),
.timer-section-7 .timer-7 .step-7:not(:last-child) {
  margin: 90px 0 60px 0;
}
.timer-section-7 .timer-7 .step-7:nth-child(odd) {
  transform: translateX(100%);
  border-left: 2px solid lightblue;
  border-radius: 0 3px 3px 0;
}
.timer-section-7 .timer-7 .step-7:nth-child(even) {
  border-right: 2px solid lightsalmon;
  border-radius: 3px 0 0 3px;
}
.timer-section-7 .timer-7 .step-7 > span {
  position: absolute;
  height: 26px;
  width: 25px;
  color: #333;
  background-color: #f2f2f2;
  text-align: center;
  line-height: 22px;
  border-radius: 3px;
  font-size: 0.8rem;
}
.timer-section-7 .timer-7 .step-7:nth-child(odd) > span {
  top: -40px;
  left: -13px;
  border: 2px solid lightblue;
}
.timer-section-7 .timer-7 .step-7:nth-child(even) > span {
  top: -40px;
  right: -13px;
  border: 2px solid lightsalmon;
}
.timer-section-7 .timer-7 .step-7 h3 {
  margin-bottom: 15px;
}
.timer-section-7 .timer-7 .step-7 p {
  font-weight: 300;
  color: #555;
}
@media screen and (max-width: 500px) {
  .timer-section-7 .timer-7 .step-7 {
    width: 100%;
    text-align: center;
    transform: translateX(0%);
    border-radius: 3px !important;
  }
  .timer-section-7 .timer-7 .step-7:nth-child(odd) {
    transform: translateX(0%);
    border: none;
    border-top: 2px solid lightblue;
    box-sizing: border-box;
  }
  .timer-section-7 .timer-7 .step-7:nth-child(even) {
    border: none;
    border-top: 2px solid lightsalmon;
    box-sizing: border-box;
  }
  .timer-section-7 .timer-7 .step-7 span {
    left: 50% !important;
    transform: translateX(-50%);
  }
}
/*timeline-7*/
/*timeline-8*/
.row-8 {
  margin-inline: auto;
}
.timeline-8 {
  position: relative;
  margin-inline: 1rem;
}
.timeline-8-pipe {
  position: absolute;
  top: 2px;
  bottom: 30px;
  left: 54px;
  width: 5px;
  background-color: #f2f2f2;
  z-index: -1;
}
.timeline-8-item {
  display: flex;
}
.timeline-8-meta {
  flex-basis: 0;
  display: none;
}
.timeline-8-card-8 {
  flex-basis: 100%;
}
.timeline-8-pointer {
  order: 1;
}
.timeline-8-card-8 {
  order: 2;
}
.timeline-8-item {
  margin-block: 1.5rem;
}
.timeline-8-pointer {
  margin-inline: 2rem;
  flex-shrink: 0;
  flex-grow: 0;
  order: 2;
}
.timeline-8-pointer .pointer-item-8 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  color: #000;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
@media screen and (min-width: 30rem) {
  .timeline-8-pipe {
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline-8-meta {
    flex-basis: 50%;
    display: block;
  }
  .timeline-8-meta {
    order: 1;
  }
  .timeline-8-card-8 {
    order: 3;
    flex-basis: 50%;
  }
  .timeline-8-item:nth-child(2n + 1) .timeline-8-meta {
    order: 3;
  }
  .timeline-8-item:nth-child(2n + 1) .timeline-8-card-8 {
    order: 1;
  }
}
.card-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #f2f2f2;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
  padding: 10px;
}
/*timeline-8*/
/*timeline-8*/
/*.timeline-9*/
.timeline-9 > .timeline-9-item {
  display: flex;
  align-items: flex-start;
}
.timeline-9 > .timeline-9-item > div {
  flex: 1;
  padding: 20px 40px;
}
.timeline-9 > .timeline-9-item > div:last-child {
  text-align: left;
  padding-bottom: 40px !important;
}
.timeline-9 > .timeline-9-item > div:first-child::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #673ab7;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 4px rgba(103, 58, 183, 0.2);
}
.timeline-9 > .timeline-9-item:nth-child(odd) > div:first-child {
  text-align: right;
  position: relative;
}
.timeline-9 > .timeline-9-item:nth-child(odd) > div:first-child::after {
  right: -11px;
}
.timeline-9 > .timeline-9-item:nth-child(odd) > div:last-child {
  text-align: left;
  border-left: 2px solid #e0e0e0;
}
.timeline-9 > .timeline-9-item:nth-child(odd) > .timeline-9-date > div {
  margin-right: 0px;
}
.timeline-9 > .timeline-9-item:nth-child(odd) > .timeline-9-content > h2 {
  text-align: left !important;
}
.timeline-9 > .timeline-9-item:nth-child(even) > div:first-child {
  order: 2;
  text-align: left;
  position: relative;
}
.timeline-9 > .timeline-9-item:nth-child(even) > div:first-child::after {
  left: -1px;
}
.timeline-9 > .timeline-9-item:nth-child(even) > div:last-child {
  order: 1;
  text-align: right;
  border-right: 2px solid #e0e0e0;
}
.timeline-9 > .timeline-9-item:nth-child(even) > .timeline-9-date > div {
  margin-left: 0px;
}
.timeline-9 > .timeline-9-item:nth-child(even) > .timeline-9-content > h2 {
  text-align: right !important;
}
.timeline-9 > .timeline-9-item .timeline-9-date > div {
  background-color: #673ab7;
  box-shadow: 0 0 0 4px rgba(103, 58, 183, 0.2);
  border-radius: 50px;
  color: #ffffff;
  text-align: center;
  max-width: max-content;
  margin: auto;
  padding: 10px 20px;
}
.timeline-9 > .timeline-9-item .timeline-9-content .fa-icon {
  font-size: 80px;
}
.timeline-9 > .timeline-9-item .timeline-9-content > h2 {
  color: #673ab7;
  margin: 0px;
  font-size: 1.5em;
  font-weight: bold;
}
@media (max-width: 767px) {
  .timeline-9 > .timeline-9-item {
    flex-direction: column;
    border-left: 2px solid #e0e0e0;
  }
  .timeline-9 > .timeline-9-item > div {
    border-width: 0px !important;
    text-align: left !important;
    order: unset !important;
  }
  .timeline-9 > .timeline-9-item > div::after {
    left: 0% !important;
  }
  .timeline-9 > .timeline-9-item:nth-child(odd) > .timeline-9-content > h2 {
    text-align: left !important;
  }
  .timeline-9 > .timeline-9-item:nth-child(even) > .timeline-9-content > h2 {
    text-align: left !important;
  }
}
/*timeline-9*/
/*timeline-10*/
ul.timeline-10 {
  padding-left: 20px;
}
ul.timeline-10 li {
  position: relative;
  list-style: none;
  padding: 0 0 3.5rem 30px;
  margin-bottom: -20px;
  border-left: 2px solid #932756;
}
ul.timeline-10 li h4 {
  color: #fab919;
}
ul.timeline-10 li:before {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  top: -5px;
  width: 20px;
  height: 20px;
  border: 2px solid #222642;
  border-radius: 50%;
  background-color: #45b4ec;
  box-shadow: 0 0 0 5px white;
}
ul.timeline-10 li:last-of-type {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
/*timeline-10*/
