{#
/**
 * @file
 * Default theme implementation for a timeline formatter.
 *
 * Available variables:
 * - timeline_data: Array of timeline.
 *   - time: timeline time value
 *   - title: title of the timeline
 *   - description: description of the timelie
 *
 * - timeline_settings: Array of timeline configurations
 *   - timeline_layout: template layout
 * @ingroup themeable
 */
 #}

 {% set timeline_layout = timeline_settings.timeline_layout %}

 {% if timeline_data is not empty %}
  <div class="timeleine-content-wrapper">
  <div class="timeleine-heading-content">{{ timeline_header }}</div>
  {% if timeline_layout == '1' %}
    <div class="wrapper-1">
    <div class="center-line-1">
    <a href="#" class="scroll-icon-1"></i></a>
    </div>
    {% for key,timeline in timeline_data %}
      {% set row = cycle(['1', '2'], key) %}
      <div class="timeline-1-row timeline-1-row-{{ row }}">
      <section>
      <i class="icon"></i>
      <div class="details-1">
      {% if timeline.time %}
        <h2>{{ timeline.time|raw }}</h2>
      {% endif %}
      {% if timeline.title %}
        <h3>{{ timeline.title|raw }}</h3>
      {% endif %}
      </div>
      {{ timeline.description }}
      </section>
      </div>
    {% endfor %}
    </div>
    {% elseif timeline_layout == '2' %}
    <div class="timeline-2-container">
    <div class="timeline-2 timeline-2-d-flex timeline-2-flex-column">
    {% for key,timeline in timeline_data %}
      <div class="timeline-2-item">
      <div class="timeline-2-card timeline-2-bg-base text-white border-0">
      {% if timeline.time %}
        <div class="timeline-2-card-header py-2 timeline-2-bg-main rounded-0 border-0">
        {{ timeline.time|raw }}
        </div>
      {% endif %}
      <div class="timeline-2-card-body">
      {% if timeline.title %}
        <h3 class="timeline-2-card-title">{{ timeline.title|raw }}</h3>
      {% endif %}
      <div class="timeline-2-card-text">{{ timeline.description }}</div>
      </div>
      </div>
      </div>
    {% endfor %}
    </div>
    </div>
    {% elseif timeline_layout == '3' %}
    <div class="timeline-3">
    <div class="timeline-3-events">
    {% for key,timeline in timeline_data %}
      {% set position = cycle(['left', 'right'], key) %}
      <div class="timeline-3-event">
      <div class="timeline-3-knob"></div>
      {% if timeline.time %}
        <div class="timeline-3-date">
        <h2>{{ timeline.time|raw }}</h2>
        </div>
      {% endif %}
      <div class="timeline-3-description">
      {% if timeline.title %}
        <h3>{{ timeline.title|raw }}</h3>
      {% endif %}
      {{ timeline.description }}
      </div>
      </div>
    {% endfor %}
    <div class="timeline-3-line"></div>
    </div>
    </div>
    {% elseif timeline_layout == '4' %}
    <div class="timeline4">
    <div class="timeline4__content">
    <ul class="timeline4__content-steps">
    {% for key,timeline in timeline_data %}
      <li class="timeline4__content-step">
      {% if timeline.time %}
        <h4 class="timeline4__content-step__title">{{ timeline.time|raw }}</h4>
      {% endif %}
      <div class="timeline4__content-step__description">
      {% if timeline.title %}
        <h3>{{ timeline.title|raw }}</h3>
      {% endif %}
      {{ timeline.description }}
      </div>
      </li>
    {% endfor %}
    </ul>
    </div>
    </div>
    {% elseif timeline_layout == '5' %}
    <div class="timeline-5-area">
    <div class="timeline-5-container">
    <div class="all-timelines-5">
    {% for key,timeline in timeline_data %}
      <div class="single-timeline-5 d-flex-2">
      <div class="timeline-5-blank"></div>
      <div class="timeline-5-text d-flex-2">
      <span>
      {% if timeline.time %}<h3>{{ timeline.time|raw }}</h3>{% endif %} {% if timeline.title %}<h4>{{ timeline.title|raw }}</h4>{% endif %}
        {{ timeline.description }}
        </span>
        <div class="t-square-5"></div>
        </div>
        </div>
      {% endfor %}
      </div>
      </div>
      </div>
      {% elseif timeline_layout == '6' %}
      <div class='timeline-6'>
      <div class='timeline-6-cards'>
      {% for key,timeline in timeline_data %}
        {% set background = cycle(['#03a9f4', '#9c27b0', '#607d8b', '#8bc34a'], key) %}
        <div class='timeline-6-card'>
        {% if timeline.time %}
          <p class='timeline-6-card-title' style="background-color:{{ background }};">{{ timeline.time|raw }}</p>
        {% endif %}
        <div class='timeline-6-card-desc'>
        {% if timeline.title %}
          <h3>{{ timeline.title|raw }}</h3>
        {% endif %}
        {{ timeline.description }}
        </div>
        </div>
      {% endfor %}
      </div>
      </div>
      {% elseif timeline_layout == '7' %}
      <section class="timer-section-7">
      <div class="container-7">
      <div class="timer-container-7">
      <ul class="timer-7">
      {% for key,timeline in timeline_data %}
        {% set background = cycle(['#03a9f4', '#9c27b0', '#607d8b', '#8bc34a'], key) %}
        <li class="step-7">
        <span>{{ key+1 }}</span>
        <div class="content-7">
        {% if timeline.time %}
          <h2>{{ timeline.time|raw }}</h2>
        {% endif %}
        {% if timeline.title %}
          <h3>{{ timeline.title|raw }}</h3>
        {% endif %}
        {{ timeline.description }}
        </div>
        </li>
      {% endfor %}
      </ul>
      </div>
      </div>
      </section>
      {% elseif timeline_layout == '8' %}
      <div class="row-8">
      <section class="timeline-8 js--timeline-8">
      <div class="timeline-8-pipe"></div>
      {% for key,timeline in timeline_data %}
        {% set background = cycle(['#03a9f4', '#9c27b0', '#607d8b', '#8bc34a'], key) %}
        <div class="timeline-8-item">
        <div class="timeline-8-pointer">
        <div class="pointer-item-8">{{ key+1 }}</div>
        </div>
        <div class="timeline-8-meta"></div>
        <div class="timeline-8-card-8">
        <div class="card-8 card-8-section">
        {% if timeline.time %}
          <h2>{{ timeline.time|raw }}</h2>
        {% endif %}
        {% if timeline.title %}
          <h3>{{ timeline.title|raw }}</h3>
        {% endif %}
        {{ timeline.description }}
        </div>
        </div>
        </div>
      {% endfor %}
      </section>
      </div>
      {% elseif timeline_layout == '9' %}
      <div class="timeline-9">
      {% for key,timeline in timeline_data %}
        <div class="timeline-9-item">
        {% if timeline.time %}
          <div class="timeline-9-date">
          <div>
          {{ timeline.time|raw }}
          </div>
          </div>
        {% endif %}
        <div class="timeline-9-content">
        {% if timeline.title %}
          <h2>{{ timeline.title|raw }}</h2>
        {% endif %}
        {{ timeline.description }}
        </div>
        </div>
      {% endfor %}
      </div>
      {% elseif timeline_layout == '10' %}
      <ul class="timeline-10">
      {% for key,timeline in timeline_data %}
        <li>
        {% if timeline.time %}
          <h2>{{ timeline.time|raw }}</h2>
        {% endif %}
        {% if timeline.title %}
          <h3>{{ timeline.title|raw }}</h3>
        {% endif %}
        {{ timeline.description }}
        </li>
      {% endfor %}
      </ul>
    {% endif %}
    </div>
  {% endif %}

